[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"autopep8" = "*"
codecov = "*"
coverage = "*"
requests = "==2.20.*"
six = "*"
pycodestyle = "*"
python-dateutil = "*"
twine = "*"
pip = "*"
pytest= "*"
pytest-cov="*"
wheel = "*"
mailchimp3 = "*"
flake8 = "*"

[packages]
requests = "==2.*"
six = "*"

[requires]
python_version = "3.6"
