[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==19.10b0"
flake8 = "*"
isogeo-pysdk = {editable = true,path = "."}
pip = "*"
pre-commit = "*"
pycodestyle = "*"
pylint = "*"
pytest= "<5.1"
pytest-cov="*"
python-dotenv = "*"
pytest-random-order = "*"
setuptools = "*"
twine = "*"
wheel = "*"
sphinx = "*"
sphinx-markdown-tables = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"

[packages]
requests = ">=2.20.0"
requests-oauthlib = ">=1.2.0"

[requires]
python_version = "3.7"
