# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt
#
#   It's higly recomended to use it within a virtualenv.
#
#
#

# install basic requirements
-r requirements.txt

# Lint and formatting
black~=24.4
flake8~=7.0

# Tests
python-dotenv~=1.0
pytest~=8.2
pytest-cov~=5.0
pytest-randomly~=3.15
pytest-rerunfailures~=14.0
tox~=4.15

# Documentation (for devs)
sphinx~=7.3
sphinx-autodoc-typehints~=2.1
sphinx-copybutton~=0.5
sphinx-markdown-tables==0.0.17
sphinx-rtd-theme~=2.0
recommonmark~=0.7

# Packaging
twine~=5.0
wheel~=0.43

# then it's possible to install from the repo:
# https://github.com/Isogeo/isogeo-api-py-minsdk/archive/master.zip
