# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt
#
#   It's higly recomended to use it within a virtualenv.
#
#
#

# install basic requirements
-r requirements.txt

# Lint and formatting
# -----------------------
black==20.8b1
flake8==3.8.*
pre-commit==2.9.*

# Tests
# -----------------------
python-dotenv==0.15.*
pytest==6.2.*
pytest-cov==2.11.*
pytest-randomly==3.5.*
pytest-rerunfailures==9.*
tox==3.23.*

# Documentation (for devs)
# -----------------------
sphinx==3.5.*
sphinx-autodoc-typehints==1.12.*
sphinx-copybutton==0.3.*
sphinx-markdown-tables==0.0.15  # to render markdown tables
sphinx-rtd-theme==0.5.*
recommonmark==0.7.*

# Packaging
# -----------------------
twine
wheel

# then it's possible to install from the repo:
# https://github.com/Isogeo/isogeo-api-py-minsdk/archive/master.zip
