# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt
#
#   It's higly recomended to use it within a virtualenv.
#
#
#

# install basic requirements
-r requirements.txt

# Lint and formatting
# -----------------------
black==22.10.0
flake8==3.9.*
pre-commit==2.20.*

# Tests
# -----------------------
python-dotenv==0.20.*
pytest==7.1.*
pytest-cov==3.0.*
pytest-randomly==3.12.*
pytest-rerunfailures==10.*
tox==3.25.*

# Documentation (for devs)
# -----------------------
sphinx==5.3.*
sphinx-autodoc-typehints==1.22
sphinx-copybutton==0.5.*
sphinx-markdown-tables==0.0.17  # to render markdown tables
sphinx-rtd-theme==1.0.*
recommonmark==0.7.*

# Packaging
# -----------------------
twine
wheel

# then it's possible to install from the repo:
# https://github.com/Isogeo/isogeo-api-py-minsdk/archive/master.zip
