# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt
#
#   It's higly recomended to use it within a virtualenv.
#
#
#

requests==2.*
six

# proxy
# pypac==0.2.*

# Python 2 backwards compatibility
configparser; python_version < '3.0'
future

# samples
geojson
flask==0.12.2
oauthlib
requests_oauthlib
