{% extends "layout.html" %}

{% block content %}
	<h2>{{ title }}</h2>
	<h3>{{ message }}</h3>

	<address>
	    Isogeo<br />
	    26 rue du faubourg Saint-Antoine<br />
	    75012 Paris<br>
	    France
	</address>

	<address>
	    <strong>Support:</strong>   <a href="mailto:contact@isogeo.com">contact@isogeo.com</a><br />
	</address>

	<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=2.335753440856934%2C48.83997794833464%2C2.4074220657348637%2C48.865053537403895&amp;layer=hot&amp;marker=48.85251731276078%2C2.3715877532958984" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=48.8525&amp;mlon=2.3716#map=15/48.8525/2.3716&amp;layers=H">Afficher une carte plus grande</a></small>
{% endblock %}
