{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Isogeo</h1>
    <p class="lead">Isogeo est une plateforme SaaS dédiée à la valorisation de l'information géographique.</p>
    <p><a href="https://www.isogeo.com" class="btn btn-primary btn-lg" role="button">En savoir plus &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>API REST</h2>
        <p>
            Isogeo permet aux développeurs tiers d'accéder aux catalogues de données inventoriées et de créer de nouveaux usages : moteur de recherche géographique, plugins pour logiciels métiers, tableaux de bord...
        </p>
        <p><a class="btn btn-outline-secondary" href="https://www.gitbook.com/book/isogeo/api/details" role="button">En savoir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-outline-secondary" href="https://pypi.python.org/pypi" role="button">En savoir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><i class="fab fa-python"></i>Développeur Python</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-outline-secondary" href="https://github.com/Guts/isogeo-api-py-minsdk/" role="button">En savoir plus &raquo;</a></p>
    </div>
</div>

{% endblock %}
