{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Isogeo</h1>
    <p class="lead">Isogeo est une plateforme SaaS dédiée à la valorisation de l'information géographique. Ce mini-site démontre l'intégration de l'authentification déportée (oAuth2) d'un utilisateur de la plateforme pour développer des usages.</p>
    <p><a href="https://www.isogeo.com" class="btn btn-primary btn-lg" role="button">En savoir plus &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Une API REST <i class="fas fa-code"></i></h2>
        <p>
            Isogeo permet aux développeurs tiers d'accéder aux catalogues de données inventoriées et d'intégrer facilement son moteur de recherche et ses facilités d'accès aux données et services liés.
        </p>
        <p><a class="btn btn-outline-secondary" href="https://www.gitbook.com/book/isogeo/api/details" role="button">En savoir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Des usages <i class="fab fa-connectdevelop"></i></h2>
        <p>
            Tout est là pour s'inspirer ou créer de nouveaux usages : moteur de recherche géographique, plugins pour logiciels métiers, tableaux de bord...
        </p>
        <br>
        <p><a class="btn btn-outline-secondary" href="http://help.isogeo.com/fr/features/publish/usages_api.html" role="button">En savoir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Isogeo <i class="far fa-heart"></i> -> <i class="fab fa-python"></i></h2>
        <p>
            Cet exemple est généré à partir du module Python Isogeo (lien ci-dessous), mais rien d'exclusif, tout langage est le bienvenu :) !
        </p>
        <br>
        <p><a class="btn btn-outline-secondary" href="https://github.com/Guts/isogeo-api-py-minsdk/" role="button">En savoir plus &raquo;</a></p>
    </div>
</div>

{% endblock %}
