{% extends "layout.html" %}

{% block content %}
<main role="main">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
	  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	  <li data-target="#myCarousel" data-slide-to="1"></li>
	  <li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
	  <div class="carousel-item active">
	    <img class="first-slide" src="https://www.isogeo.com/_medias/images/mise-en-avant/slider_site_fond.png" alt="First slide">
	    <div class="container">
	      <div class="carousel-caption text-left">
	        <h1>Indicateurs de l'utilisateur</h1>
	        <p>L'API permet de rechercher parmi les métadonnées de l'utilisateur et d'accéder aux données selon ce que l'administrateur a configuré. A suivre, 2 métadonnées choisies au hasard dans les résultats !</p>
	        <p><a class="btn btn-lg btn-primary" href="#" role="button">En savoir plus</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="carousel-item">
	    <img class="second-slide" src="https://www.isogeo.com/_medias/images/mise-en-avant/slider_site_fond.png" alt="Second slide">
	    <div class="container">
	      <div class="carousel-caption">
	        <h1>{{ mds.md1[0] }}</h1>
	        <p>{{ mds.md1[1] }}</p>
	        <p><a class="btn btn-lg btn-primary" href="#" role="button">En savoir plus</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="carousel-item">
	    <img class="third-slide" src="https://www.isogeo.com/_medias/images/mise-en-avant/slider_site_fond.png" alt="Third slide">
	    <div class="container">
	      <div class="carousel-caption text-right">
	        <h1>{{ mds.md2[0] }}</h1>
	        <p>{{ mds.md2[0] }}</p>
	        <p><a class="btn btn-lg btn-primary" href="#" role="button">En savoir plus</a></p>
	      </div>
	    </div>
	  </div>
	</div>
	<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="sr-only">Précédent</span>
	</a>
	<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="sr-only">Suivant</span>
	</a>
	</div>

    <div class="container marketing">
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://www.isogeo.com/_medias/images/expertise/ico_geomatique.png" alt="Image : métadonnées réparties sur un territoire" width="140">
            <h2>Vous avez accès à {{ ct_mds }} métadonnées</h2>
            <p>Dans l'API Isogeo, une entité est une métadonnée. Elle peut correspondre à un jeu de données (vectoriel ou raster), à un service géographique standardisé ou encore à une ressource documentaire ou non géographique (tableur, rapport, carte PDF...)</p>
            <p><a class="btn btn-secondary" href="#" role="button">En savoir plus &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/128/users.png" alt="Image : icône de groupe de travail" width="140" height="140">
            <h2>Appartenant à {{ ct_wgs }} groupes de travail</h2>
            <p>Dans le modèle métier, une métadonnée appartient à un groupe de travail (relation 1:1).<br> Les workgroups (ou owners) peuvent s'échanger des données ou les publier vers des applications tierces.</p>
            <p><a class="btn btn-secondary" href="#" role="button">En savoir plus &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/128/book.png" alt="Image : icône de catalogue" width="140" height="140">
            <h2>Réparties dans {{ ct_cats }} catalogues</h2>
            <p>Les métadonnées sont qualifiées et l'API permet d'implémenter facilement un moteur de recherche "en entonnoir" basé sur les tags disponibles. <br> Par exemple, l'utilisateur connecté accède à {{ ct_tags }} tags.</p>
            <p><a class="btn btn-secondary" target="_blank" href="http://help.isogeo.com/fr/features/inventory/search.html#les-principes-dune-recherche-optimale" role="button">En savoir plus &raquo;</a></p>
          </div>
        </div>
    </div>

    <!-- MINI CCHART -->
    <hr>
    <h2>Sample chart</h2>
	<canvas class="my-4" id="md_chart_types" width="900" height="380"></canvas>
</main>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script defer>
      var ctx = document.getElementById("md_chart_types");
      var DoughnutChart = new Chart(ctx, {
    	type: 'doughnut',
    	data: {
          labels: ["Vecteurs", "Rasters", "Services", "Ressources"],
          datasets: [{
            data: {{ stats_types }},
            backgroundColor: ["rgb(255, 99, 132)",
            				  "rgb(54, 162, 235)",
            				  "rgb(255, 205, 86)",
            				  "rgb(100, 128, 167)",
            				  ],
          }],
        }
		});
    </script>
{% endblock %}
